<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <style>
        body {
            color: crimson;
        }
    </style>
</head>
<body>
<div>
    <div class="centered">
        <h1>Error {{errCode}} &mdash; {{errDesc}}</h1>
        <p>{{errExplanation}}</p>
    </div>
</div>
</body>
</html>
