<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Verification - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Are you sure that you want to verify this Discord account?</h1>
        <p><b>Your Kerberos identity can verify only one Discord account for this server.</b> If you continue, your Kerberos identity, {{email}}, will be used to verify the Discord account @{{discordUsername}}.</p>
        <p>You will not be able to undo this action without assistance.</p>
        <div class="text-centered">
            <a href="/api/verification/confirm">
            <button class="confirm-button">
                Verify @{{discordUsername}}
            </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
