<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Verification - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <p class="text-centered"><img style="max-width: 50%;" src="/static/assets/cake-tim.svg" /></p>
        <h1>Welcome to the MIT Class of 2028, {{name}}! <span style="font-weight: normal;">We're glad you're here.</span></h1>
        <p><b>Your Discord account has been verified using your Kerberos identity.</b> You should have been assigned the <b>verified</b> role on the Discord server.</p>
        <div class="text-centered">
            <a href="https://discord.com/channels/{{preferences.discord.guild_id}}">
                <button class="discord-button">
                    Return to the Discord server
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
