<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Verification - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Welcome to the MIT Class of 2028 Discord server, {{name}}.</h1>
        <p><b>Your Discord account has been verified using your Kerberos identity.</b> It seems that you are not a member of the Class of 2028. If this is incorrect, then you have not yet been added to the <a href="https://web.mit.edu/search/?tab=directory">MIT directory</a>. Please try again in a few days; if you still get this message, contact Ben.</p>
        <div class="text-centered">
            <a href="https://discord.com/channels/{{preferences.discord.guild_id}}">
                <button class="discord-button">
                    Return to the Discord server
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
