<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Sign-In - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Hi, {{name}}.</h1>
        <p class="small-text">If your Kerberos identity is not {{email}}, please <a href="/verify">start over</a>.</p>
        <p>Sign in with Discord to complete verification.</p>
        <div class="text-centered">
            <a href="https://discord.com/oauth2/authorize?client_id={{preferences.api_keys.discord.client_id}}&response_type=code&redirect_uri={{preferences.base_url_encoded}}%2Fapi%2Fverification%2Fauth%2Fdiscord&scope=identify">
                <button class="discord-button">
                    <img style="height: 1.5em; margin-right: 0.5em; vertical-align: middle;"
                         src="/static/assets/discord-mark-white.svg"/> Sign in with Discord
                </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
