<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Error - MIT IdentiBot</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <style>
        body {
            color: crimson;
        }
    </style>
</head>
<body>
<div>
    <div class="centered text-centered">
        <p class="huge-text bolder no-margin-vertical" style="line-height: 1;">{{code}}</p>
        <h1 class="no-margin-vertical">{{description}}</h1>
        <p class="no-margin-vertical big-text">{{explanation}}</p>
    </div>
</div>
</body>
</html>
