<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discord Sign-In - MIT IdentiBot</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Hi, {{userInfo.given_name}}.</h1>
        <p class="small-text">If your Kerberos identity is not {{userInfo.email}}, please <a href="/verify">start over</a>.</p>
        <p>Sign in with Discord to complete verification.</p>
        <div class="text-centered">
            <a href="{{authorizationRedirectURL}}">
            <button class="discord-button">
                <img style="height: 1.5em; margin-right: 0.5em; vertical-align: middle;"
                     src="/static/assets/discord-mark-white.svg"/> Sign in with Discord
            </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
