<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Verification - MIT IdentiBot</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>You have successfully verified your Discord account, {{petrockUserInfo.given_name}}! <span style="font-weight: normal;">We're glad you're here.</span></h1>
        <p><b>Your Discord account has been verified using your Kerberos identity.</b> You have been assigned corresponding <b>verified</b> roles in {messageVariables.whereServers}.</p>
    </div>
</div>
</body>
</html>
