<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Touchstone Sign-In - MIT IdentiBot</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Welcome!</h1>
        <p>To start verification, sign in to MIT Touchstone (using your Kerberos credentials).</p>
        <div class="text-centered">
            <a href="{{authorizationRedirectURL}}">
            <button class="touchstone-button">
                <img style="height: 1.5em; margin-right: 0.25em; vertical-align: middle;"
                     src="/static/assets/mit-mark-white.svg"/> Sign in with Touchstone
            </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
