@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700;900&display=swap');
body {
    font-family: "Noto Sans", sans-serif;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #202020;
        color: white;
    }
}
a {
    color: MediumSeaGreen;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    font-family: "Noto Sans", sans-serif;
}
.touchstone-button, .discord-button, .confirm-button {
    padding: 0.75em;
    font-weight: 900;
    border-width: 0pt;
    border-radius: 0.25em;
    cursor: pointer;
}
.touchstone-button {
    background-color: #7DB047;
    color: white;
}
.touchstone-button:hover {
    background-color: #628a37;
}
.touchstone-button:active {
    background-color: #476328;
}
.discord-button {
    background-color: #5865F2;
    color: white;
}
.discord-button:hover {
    background-color: #4954cc;
}
.discord-button:active {
    background-color: #3c45a6;
}
.confirm-button {
    background-color: #006400;
    color: white;
}
.confirm-button:hover {
    background-color: #003d00;
}
.confirm-button:active {
    background-color: #003000;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
}
.text-centered {
    text-align: center;
}
.small-text {
    font-size: 80%;
}
