<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Touchstone Sign-In - MIT Class of 2028 Discord Verification</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div>
    <div class="centered">
        <h1>Welcome!</h1>
        <p>To start verification, sign in to MIT Touchstone (using your Kerberos credentials).</p>
        <div class="text-centered">
            <a href="https://petrock.mit.edu/touchstone/oidc/authorization?client_id={{api_keys.petrock.client_id}}&response_type=code&redirect_uri={{base_url_encoded}}%2Fapi%2Fverification%2Fauth%2Ftouchstone&scope=openid+email+profile">
            <button class="touchstone-button">
                <img style="height: 1.5em; margin-right: 0.25em; vertical-align: middle;"
                     src="/static/assets/mit-mark-white.svg"/> Sign in with Touchstone
            </button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
